<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
  <activePackageSource>
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>
  <packageSourceCredentials>
    <myget.prosoft>
      <add key="Username" value="devlicenses1" />
      <add key="ClearTextPassword" value="devdevdevdevelop" />
    </myget.prosoft>
    <myget.cofx>
      <add key="Username" value="devlicenses1" />
      <add key="ClearTextPassword" value="devdevdevdevelop" />
    </myget.cofx>
  </packageSourceCredentials>
  <packageSources>
    <add key="nuget.org" value="https://www.nuget.org/api/v2/" />
    <add key="myget.prosoft" value="https://www.myget.org/F/prosoftprivate/" />
    <add key="myget.cofx" value="https://www.myget.org/F/cofx/" />
  </packageSources>
</configuration>